@using BlazorForms.Data;

<div class="container-sm">
    <div class="row">
        <div class="col">
            <h2>Create Contact</h2>
            <form class="mb-5" @onsubmit="submitForm">
                <div class="row mb-3">
                    <div class="col">
                        <label for="first-name" class="form-label">First name</label>
                        <input @bind-value="editingContact.FirstName" class="form-control" type="text" id="first-name" name="first-name">
                    </div>

                    <div class="col">
                        <label for="last-name" class="form-label">Last name</label>
                        <input @bind-value="editingContact.LastName" class="form-control" type="text" id="last-name" name="last-name">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="phone-number" class="form-label">Phone Number</label>
                        <input @bind-value="editingContact.PhoneNumber" class="form-control" type="text" id="phone-number" name="phone-number">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="email" class="form-label">Email</label>
                        <input @bind-value="editingContact.Email" class="form-control" type="text" id="email" name="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary">Add Contact</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Contact List</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Emails</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Contacts)
                    {
                        <tr>
                            <td>@contact.FirstName</td>
                            <td>@contact.LastName</td>
                            <td>@contact.PhoneNumber</td>
                            <td>@contact.Email</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {
    public Contact editingContact = new Contact();
    public List<Contact> Contacts { get; set; } = new List<Contact>();

    public void submitForm()
    {
        Contacts.Add(editingContact);
        resetForm();
    }

    public void resetForm() => editingContact = new Contact();
}
